/*This external stylesheet is for the Recipe page of the website*/

body{background-color:#cce6ff;}

/*Below is the css for the Index page*/
.form-Format{width:30px;
			 position: absolute;
			 top:35%;
			 left:35%;}

a.form-Format{top: 100%;
			  left:70%;
			  width: 300px;
			  display: inline-block;
			  text-align: center;
			   }

.text-in{ height:30px;
    font-size:14pt;}



/*Homepage css below*/

ul{
	list-style: none;
}


li.menuBar{align-items: center;
		   margin: 2%;
  		   padding: 5%;
  		   overflow: hidden;
  		   display: inline-block;
  		   background-color: #333359;}
 a.menuBar{color:white;text-decoration:none; }


/*Below is the css for the Recipe page*/

.topBar{background-color: #333359;
		margin-top: 0px;
		margin-bottom:0px;
		margin-left:0px; 
		margin-right:0px;}

span.topBar{font-size: 350%; 
			text-align: center;}

input.topSearch{margin-top: 0px;
				margin-bottom:0px;
				margin-left: 65%;
				margin-right:40%}

.rightBar{margin-left:70%;
		  margin-top:0%;
		  margin-bottom:0%;
		  background-color: #333359;}


