/*This external stylesheet is for the Recipe page of the website*/
/*/////////////////////////
Below is css for whole site
/////////////////////////*/
* {
  box-sizing: border-box;
}

body {
  background-color: #cce6ff;
}

ul {
  list-style: none;
}

/*/////////////////////////////////
Below is the css for the Index page
/////////////////////////////////*/
.logColour {
  background-color: #333359;
}

/* Only the login has this different colous format*/
h1.loginHeader {
  text-align: center;
  /* This formats the H1 on te login page*/
  width: 50px;
  position: relative;
  white-space: nowrap;
  top: 5%;
  left: 30%;
  font-size: 45px;
}

.form-Format {
  /* Sets the position of the inputs, image and button*/
  width: 30px;
  position: relative;
  top: 35%;
  left: 35%;
}

img.form-Format {
  width: 150px;
  height: 125px;
  top: 20%;
  left: 50%;
}

form {
  align-items: center;
}

form>label {
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* .text-in {
  border: 0;
  background: #cce6ff;
  display: block;
  align-items: center auto;
  margin: 5% auto;
  text-align: center auto;
  border: 4px solid grey;
  padding: 20% 15%;
  width: 70%;
  color: Black;
  border-radius: 5%;
  transition: 0.3s;
  cursor: pointer;
}

/* .text-in:focus {
  width: 800%;
  font-weight: 35%;
  border: 4px solid green;
} */
a.form-Format {
  /*to set the position of the links and words directly underneath the input sections*/
  top: 200%;
  left: 70%;
  width: 300px;
  display: inline-block;
  text-align: center;
}

span.login {
  margin: 0;
  padding: 0;
  float: left;
}

.addon {
  position: relative;
  left: 35%;
}

a.addon {
  color: white;
  left: -2%;
  float: left;
}

p.add {
  color: #e9ff24;
}

img.fbLogo {
  position: relative;
  width: 70px;
  height: 55px;
}

label>input {
  display: inline;
}

/*////////////////
Homepage css below
////////////////*/
li.menuBar {
  align-items: center;
  margin: 2%;
  padding: 5%;
  overflow: hidden;
  display: inline-block;
  background-color: #333359;
}

a.menuBar {
  color: white;
  text-decoration: none;
}

li.favTitle {
  margin: 1px;
  margin-right: 1px;
  padding: 1px;
  overflow: hidden;
  display: inline-block;
  background-color: #333359;
  color: white;
}

li.favPicks {
  align-items: center;
  padding: 8%;
  overflow: hidden;
  display: inline-block;
  background-color: #333359;
}

a.menuBar {
  color: white;
  text-decoration: none;
}

/*////////////////////////////////////
Below is the css for the Recipe page
////////////////////////////////////*/
.topBar {
  background-color: #333359;
  padding-top: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  vertical-align: middle;
}

img.topBar {
  float: left;
  width: 150px;
  height: 100px;
  vertical-align: middle;
}

span.topBar {
  margin-left: 16.5%;
  margin-top: 6%;
  font-size: 350%;
}

input.topSearch {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 65%;
  margin-right: 10%;
  float: right;
  vertical-align: middle;
}

.rightBar {
  margin-top: 0%;
  padding: 8%;
  overflow: hidden;
  font-size: 115%;
  background-color: #333359;
  float: right;
  color: white;
  align-items: center;
}

p.rightBar {
  text-decoration: underline;
  text-align: center;
  white-space: nowrap;
}

a {
  margin: 2rem;
  border: 1rem;
}

/*////////////////////////////////////
Below is the css for the Search page
////////////////////////////////////*/
@media (min-width: 900px) {
  #filters {
    height: 82%;
    /* Full-height: remove this if you want "auto" height */
    margin-top: 8%;
    width: 20%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
  }

  /* Style page content */
  #results {
    margin-left: 20%;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
}